.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-red {
  background-color: #f49898;
  border-color: #ad1313;
  color: #510909;
}

.alert-red hr {
  border-top-color: #7f0e0e;
}

.alert-red .alert-link {
  color: #7f0e0e;
  font-weight: bolder;
}

.alert-blue {
  background-color: #98aef4;
  border-color: #1337ad;
  color: #091a51;
}

.alert-blue hr {
  border-top-color: #0e297f;
}

.alert-blue .alert-link {
  color: #0e297f;
  font-weight: bolder;
}

.alert-green {
  background-color: #61ef68;
  border-color: #0c7811;
  color: #031b04;
}

.alert-green hr {
  border-top-color: #08490b;
}

.alert-green .alert-link {
  color: #08490b;
  font-weight: bolder;
}

.alert-yellow {
  background-color: #f7f4a2;
  border-color: #bdb610;
  color: #5f5c08;
}

.alert-yellow hr {
  border-top-color: #8e890c;
}

.alert-yellow .alert-link {
  color: #8e890c;
  font-weight: bolder;
}

.alert-white {
  background-color: white;
  border-color: #e6e6e6;
  color: #b3b3b3;
}

.alert-white hr {
  border-top-color: #cccccc;
}

.alert-white .alert-link {
  color: #cccccc;
  font-weight: bolder;
}

.alert-black {
  background-color: #4d4d4d;
  border-color: black;
  color: black;
}

.alert-black hr {
  border-top-color: black;
}

.alert-black .alert-link {
  color: black;
  font-weight: bolder;
}

.alert-orange {
  background-color: #f7be8c;
  border-color: #ab570c;
  color: #4c2605;
}

.alert-orange hr {
  border-top-color: #7c3f08;
}

.alert-orange .alert-link {
  color: #7c3f08;
  font-weight: bolder;
}

.alert-grey {
  background-color: #96a5ab;
  border-color: #343d41;
  color: #070808;
}

.alert-grey hr {
  border-top-color: #1d2325;
}

.alert-grey .alert-link {
  color: #1d2325;
  font-weight: bolder;
}

.alert-mustard {
  background-color: #f7d8a0;
  border-color: #bc7f0f;
  color: #5d3f08;
}

.alert-mustard hr {
  border-top-color: #8d5f0b;
}

.alert-mustard .alert-link {
  color: #8d5f0b;
  font-weight: bolder;
}

.alert-light-green {
  background-color: #c1f294;
  border-color: #5aa614;
  color: #294b09;
}

.alert-light-green hr {
  border-top-color: #42790e;
}

.alert-light-green .alert-link {
  color: #42790e;
  font-weight: bolder;
}

.alert-dark-green {
  background-color: #93e436;
  border-color: #294509;
  color: black;
}

.alert-dark-green hr {
  border-top-color: #0e1803;
}

.alert-dark-green .alert-link {
  color: #0e1803;
  font-weight: bolder;
}

.alert-light-blue {
  background-color: #98e0f4;
  border-color: #138cad;
  color: #094251;
}

.alert-light-blue hr {
  border-top-color: #0e677f;
}

.alert-light-blue .alert-link {
  color: #0e677f;
  font-weight: bolder;
}

.alert-light-yellow {
  background-color: #f6f3bf;
  border-color: #ccc31d;
  color: #736e10;
}

.alert-light-yellow hr {
  border-top-color: #9f9817;
}

.alert-light-yellow .alert-link {
  color: #9f9817;
  font-weight: bolder;
}

.alert-purple {
  background-color: #cf80e7;
  border-color: #6a1982;
  color: #24082d;
}

.alert-purple hr {
  border-top-color: #471157;
}

.alert-purple .alert-link {
  color: #471157;
  font-weight: bolder;
}

.alert-pink {
  background-color: #fdd3e6;
  border-color: #f2127a;
  color: #96084a;
}

.alert-pink hr {
  border-top-color: #c60b62;
}

.alert-pink .alert-link {
  color: #c60b62;
  font-weight: bolder;
}

.alert-cyan-green {
  background-color: #d3fdf0;
  border-color: #12f2ab;
  color: #089669;
}

.alert-cyan-green hr {
  border-top-color: #0bc68b;
}

.alert-cyan-green .alert-link {
  color: #0bc68b;
  font-weight: bolder;
}

.alert-gold {
  background-color: #ffef99;
  border-color: #ccac00;
  color: #665600;
}

.alert-gold hr {
  border-top-color: #998100;
}

.alert-gold .alert-link {
  color: #998100;
  font-weight: bolder;
}

.alert-silver {
  background-color: white;
  border-color: #a7a7a7;
  color: #747474;
}

.alert-silver hr {
  border-top-color: #8d8d8d;
}

.alert-silver .alert-link {
  color: #8d8d8d;
  font-weight: bolder;
}

.bg-red {
  background-color: #db1818;
}

.bg-blue {
  background-color: #1846db;
}

.bg-green {
  background-color: #11a618;
}

.bg-yellow {
  background-color: #ebe315;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.bg-orange {
  background-color: #db6f0f;
}

.bg-grey {
  background-color: #4b585d;
}

.bg-mustard {
  background-color: #eb9f13;
}

.bg-light-green {
  background-color: #73d419;
}

.bg-dark-green {
  background-color: #44720f;
}

.bg-light-blue {
  background-color: #18b1db;
}

.bg-light-yellow {
  background-color: #e3da39;
}

.bg-purple {
  background-color: #8d21ad;
}

.bg-pink {
  background-color: #f54295;
}

.bg-cyan-green {
  background-color: #42f5bc;
}

.bg-gold {
  background-color: #ffd700;
}

.bg-silver {
  background-color: #c0c0c0;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.button-red {
  background-color: #db1818;
  border-color: #ad1313;
  margin: 0.5rem;
}

.button-red:hover {
  background-color: #c41515;
}

.button-blue {
  background-color: #1846db;
  border-color: #1337ad;
  margin: 0.5rem;
}

.button-blue:hover {
  background-color: #153fc4;
}

.button-green {
  background-color: #11a618;
  border-color: #0c7811;
  margin: 0.5rem;
}

.button-green:hover {
  background-color: #0f8f15;
}

.button-yellow {
  background-color: #ebe315;
  border-color: #bdb610;
  margin: 0.5rem;
}

.button-yellow:hover {
  background-color: #d4cd12;
}

.button-white {
  background-color: #ffffff;
  border-color: #e6e6e6;
  margin: 0.5rem;
}

.button-white:hover {
  background-color: #f2f2f2;
}

.button-black {
  background-color: #000000;
  border-color: black;
  margin: 0.5rem;
}

.button-black:hover {
  background-color: black;
}

.button-orange {
  background-color: #db6f0f;
  border-color: #ab570c;
  margin: 0.5rem;
}

.button-orange:hover {
  background-color: #c3630d;
}

.button-grey {
  background-color: #4b585d;
  border-color: #343d41;
  margin: 0.5rem;
}

.button-grey:hover {
  background-color: #404b4f;
}

.button-mustard {
  background-color: #eb9f13;
  border-color: #bc7f0f;
  margin: 0.5rem;
}

.button-mustard:hover {
  background-color: #d38f11;
}

.button-light-green {
  background-color: #73d419;
  border-color: #5aa614;
  margin: 0.5rem;
}

.button-light-green:hover {
  background-color: #67bd16;
}

.button-dark-green {
  background-color: #44720f;
  border-color: #294509;
  margin: 0.5rem;
}

.button-dark-green:hover {
  background-color: #375b0c;
}

.button-light-blue {
  background-color: #18b1db;
  border-color: #138cad;
  margin: 0.5rem;
}

.button-light-blue:hover {
  background-color: #159ec4;
}

.button-light-yellow {
  background-color: #e3da39;
  border-color: #ccc31d;
  margin: 0.5rem;
}

.button-light-yellow:hover {
  background-color: #e0d623;
}

.button-purple {
  background-color: #8d21ad;
  border-color: #6a1982;
  margin: 0.5rem;
}

.button-purple:hover {
  background-color: #7c1d98;
}

.button-pink {
  background-color: #f54295;
  border-color: #f2127a;
  margin: 0.5rem;
}

.button-pink:hover {
  background-color: #f42a87;
}

.button-cyan-green {
  background-color: #42f5bc;
  border-color: #12f2ab;
  margin: 0.5rem;
}

.button-cyan-green:hover {
  background-color: #2af4b3;
}

.button-gold {
  background-color: #ffd700;
  border-color: #ccac00;
  margin: 0.5rem;
}

.button-gold:hover {
  background-color: #e6c200;
}

.button-silver {
  background-color: #c0c0c0;
  border-color: #a7a7a7;
  margin: 0.5rem;
}

.button-silver:hover {
  background-color: #b3b3b3;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.text-red {
  color: #db1818;
}

.text-blue {
  color: #1846db;
}

.text-green {
  color: #11a618;
}

.text-yellow {
  color: #ebe315;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-orange {
  color: #db6f0f;
}

.text-grey {
  color: #4b585d;
}

.text-mustard {
  color: #eb9f13;
}

.text-light-green {
  color: #73d419;
}

.text-dark-green {
  color: #44720f;
}

.text-light-blue {
  color: #18b1db;
}

.text-light-yellow {
  color: #e3da39;
}

.text-purple {
  color: #8d21ad;
}

.text-pink {
  color: #f54295;
}

.text-cyan-green {
  color: #42f5bc;
}

.text-gold {
  color: #ffd700;
}

.text-silver {
  color: #c0c0c0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
