$colors: (
    red : $red,
    blue : $blue,
    green:$green,
    yellow:$yellow,
    white:$white,
    black:$black,
    orange:$orange,
    grey:$grey,
    mustard:$mustard,
    light-green:$light-green,
    dark-green:$dark-green,
    light-blue:$light-blue,
    light-yellow:$light-yellow,
    purple:$purple,
    pink:$pink,
    cyan-green:$cyan-green,
    gold:$gold,
    silver:$silver
);

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

@each $name,$color in $colors{
    .alert-#{$name}{
        background-color: lighten($color,30);
        border-color: darken($color, 10);
        color: darken($color, 30);

        hr{
            border-top-color: darken($color, 20);
        }
        .alert-link{
            color: darken($color, 20);
            font-weight: bolder;
        }
    }
}