$colors: (
    red : $red,
    blue : $blue,
    green:$green,
    yellow:$yellow,
    white:$white,
    black:$black,
    orange:$orange,
    grey:$grey,
    mustard:$mustard,
    light-green:$light-green,
    dark-green:$dark-green,
    light-blue:$light-blue,
    light-yellow:$light-yellow,
    purple:$purple,
    pink:$pink,
    cyan-green:$cyan-green,
    gold:$gold,
    silver:$silver
);

@each $name,$color in $colors{
    .bg-#{$name}{
        background-color: $color !important;
    }
}